# **Module 4- Pandas Challenge**
### By: Zack Crowley

## **PyCity Schools Analysis**

- Started Sun 10/16/22

**Be sure to right up results here before turning in!!!**

---

In [1]:
# Import dependencies and load in data:
import pandas as pd

# File path to load:
school_data_path = "Resources/schools_complete.csv"
student_data_path = "Resources/students_complete.csv"

# Read in the school and student data files and store in Pandas DataFrames:
school_df = pd.read_csv(school_data_path)
student_df = pd.read_csv(student_data_path)

# Look at data:
# school_df.head()
# student_df.head()

# Merge the data into a single dataset:
stu_school_merge_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
stu_school_merge_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

### **District Summary**

In [2]:
# Calculate the total number of unique schools
school_count = school_df["school_name"].count()
print(f'Total schools for district: {school_count}')

Total schools for district: 15

In [3]:
# Calculate the total number of students
# student_count = len(school_merge_df["student_name"].unique())
student_count = len(stu_school_merge_df["Student ID"].unique())
print(f'Total students for district: {student_count}')

Total students for district: 39170

In [4]:
# Calculate the total budget
total_budget = school_df["budget"].sum()
print(f'Total budget for district: ${total_budget}')

Total budget for district: $24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = stu_school_merge_df["math_score"].mean()
print(f'Average math score for district: {average_math_score}%')

Average math score for district: 78.98537145774827%

In [6]:
# Calculate the average (mean) reading score
average_reading_score = stu_school_merge_df["reading_score"].mean()
print(f'Average reading score for district: {average_reading_score}%')

Average reading score for district: 81.87784018381414%

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = stu_school_merge_df[(stu_school_merge_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(f'% passing math for district: {passing_math_percentage}%')

% passing math for district: 74.9808526933878%

In [8]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = stu_school_merge_df[(stu_school_merge_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(f'% passing math for district: {passing_reading_percentage}%')

% passing math for district: 85.80546336482001%

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = stu_school_merge_df[
    (stu_school_merge_df["math_score"] >= 70) & (stu_school_merge_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print(f'% overall passing (both math and reading) for district: {overall_passing_rate}%')

% overall passing (both math and reading) for district: 65.17232575950983%

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count],
                              "Total Students": [student_count],
                              "Total Budget": [total_budget],
                              "Average Math Score": [average_math_score],
                              "Average Reading Score": [average_reading_score],
                              "% Passing Math": [passing_math_percentage],
                              "% Passing Reading": [passing_reading_percentage],
                              "% Overall Passing": [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

### **School Summary**