# **Module 4- Pandas Challenge**
### By: Zack Crowley

## **PyCity Schools Analysis**

- Started Sun 10/16/22

**Be sure to right up results here before turning in!!!**
- Also write up README.md

---

In [35]:
# Import dependencies and load in data:
import pandas as pd
import numpy as np
# File path to load:
school_data_path = "Resources/schools_complete.csv"
student_data_path = "Resources/students_complete.csv"

# Read in the school and student data files and store in Pandas DataFrames:
school_df = pd.read_csv(school_data_path)
student_df = pd.read_csv(student_data_path)

# Look at data:
# school_df.head()
# student_df.head()

# Merge the data into a single dataset:
stu_school_merge_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
stu_school_merge_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## **District Summary**

In [36]:
# Calculate the total number of unique schools
school_count = school_df["school_name"].count()
print(f'Total schools for district: {school_count}')

Total schools for district: 15

In [37]:
# Calculate the total number of students
# student_count = len(school_merge_df["student_name"].unique())
student_count = len(stu_school_merge_df["Student ID"].unique())
print(f'Total students for district: {student_count}')

Total students for district: 39170

In [38]:
# Calculate the total budget
total_budget = school_df["budget"].sum()
print(f'Total budget for district: ${total_budget}')

Total budget for district: $24649428

In [39]:
# Calculate the average (mean) math score
average_math_score = stu_school_merge_df["math_score"].mean()
print(f'Average math score for district: {average_math_score}%')

Average math score for district: 78.98537145774827%

In [40]:
# Calculate the average (mean) reading score
average_reading_score = stu_school_merge_df["reading_score"].mean()
print(f'Average reading score for district: {average_reading_score}%')

Average reading score for district: 81.87784018381414%

In [41]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = stu_school_merge_df[(stu_school_merge_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(f'% passing math for district: {passing_math_percentage}%')

% passing math for district: 74.9808526933878%

In [42]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = stu_school_merge_df[(stu_school_merge_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(f'% passing math for district: {passing_reading_percentage}%')

% passing math for district: 85.80546336482001%

In [43]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = stu_school_merge_df[
    (stu_school_merge_df["math_score"] >= 70) & (stu_school_merge_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print(f'% overall passing (both math and reading) for district: {overall_passing_rate}%')

% overall passing (both math and reading) for district: 65.17232575950983%

In [44]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count],
                              "Total Students": [student_count],
                              "Total Budget": [total_budget],
                              "Average Math Score": [average_math_score],
                              "Average Reading Score": [average_reading_score],
                              "% Passing Math": [passing_math_percentage],
                              "% Passing Reading": [passing_reading_percentage],
                              "% Overall Passing": [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## **School Summary**

In [45]:
# Use the code provided to select the school type
school_types = school_df.set_index(["school_name"])["type"]

In [46]:
# Calculate the total student count
per_school_counts = stu_school_merge_df.groupby(["school_name"]).count()["Student ID"]

In [47]:
# Calculate the total school budget and per capita spending
per_school_budget = stu_school_merge_df.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [48]:
# Calculate the average test scores
per_school_math = stu_school_merge_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = stu_school_merge_df.groupby(["school_name"]).mean()["reading_score"]

In [49]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = stu_school_merge_df[(stu_school_merge_df["math_score"] >= 70)]

In [50]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = stu_school_merge_df[(stu_school_merge_df["reading_score"] >= 70)]

In [51]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = stu_school_merge_df[
    (stu_school_merge_df["reading_score"] >= 70) & (stu_school_merge_df["math_score"] >= 70)]

In [52]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [53]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
# Create the df with the col names:
per_school_summary = pd.DataFrame(columns = ["School Type","Total Students","Total School Budget",
                              "Per Student Budget", "Average Math Score", "Average Reading Score",
                              "% Passing Math","% Passing Reading", "% Overall Passing"])
# Fill the col with the series that hold the calculations by the names above:
per_school_summary['School Type'] = school_types
per_school_summary['Total Students'] = per_school_counts
per_school_summary['Total School Budget'] = per_school_budget
per_school_summary['Per Student Budget'] = per_school_capita
per_school_summary['Average Math Score'] = per_school_math
per_school_summary['Average Reading Score'] = per_school_reading
per_school_summary['% Passing Math'] = per_school_passing_math
per_school_summary['% Passing Reading'] = per_school_passing_reading
per_school_summary['% Overall Passing'] = overall_passing_rate

# Sort by index and drop index name:
per_school_summary = per_school_summary.sort_index(ascending=True)
per_school_summary.index.name = None
 
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# # Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## **Highest-Performing Schools (by % Overall Passing)**

In [54]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
highest_overall_passing = per_school_summary.sort_values(by=['% Overall Passing'], ascending=False).head(5)
highest_overall_passing

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## **Bottom Performing Schools (By % Overall Passing)**

In [55]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
lowest_overall_passing = per_school_summary.sort_values(by=['% Overall Passing']).head(5)
lowest_overall_passing

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## **Math Scores by Grade**

In [56]:
# Use the code provided to separate the data by grade
ninth_graders = stu_school_merge_df[(stu_school_merge_df["grade"] == "9th")]
tenth_graders = stu_school_merge_df[(stu_school_merge_df["grade"] == "10th")]
eleventh_graders = stu_school_merge_df[(stu_school_merge_df["grade"] == "11th")]
twelfth_graders = stu_school_merge_df[(stu_school_merge_df["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean() 
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()  
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean() 

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame(columns = ["9th","10th","11th","12th"])
# Fill the col with the series that hold the calculations by the names above:
math_scores_by_grade["9th"] = ninth_grade_math_scores
math_scores_by_grade["10th"] = tenth_grader_math_scores
math_scores_by_grade["11th"] = eleventh_grader_math_scores
math_scores_by_grade["12th"] = twelfth_grader_math_scores

# Sort by index and drop index name:
math_scores_by_grade = math_scores_by_grade.sort_index(ascending=True)
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## **Reading Score by Grade**

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = stu_school_merge_df[(stu_school_merge_df["grade"] == "9th")]
tenth_graders = stu_school_merge_df[(stu_school_merge_df["grade"] == "10th")]
eleventh_graders = stu_school_merge_df[(stu_school_merge_df["grade"] == "11th")]
twelfth_graders = stu_school_merge_df[(stu_school_merge_df["grade"] == "12th")]

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame(columns = ["9th","10th","11th","12th"])
# Fill the col with the series that hold the calculations by the names above:
reading_scores_by_grade["9th"] = ninth_grade_reading_scores
reading_scores_by_grade["10th"] = tenth_grader_reading_scores
reading_scores_by_grade["11th"] = eleventh_grader_reading_scores
reading_scores_by_grade["12th"] = twelfth_grader_reading_scores

# Sort by index and drop index name:
reading_scores_by_grade = reading_scores_by_grade.sort_index(ascending=True)
reading_scores_by_grade.index.name = None

# # Display the DataFrame
reading_scores_by_grade

## **Scores by School Spending**

In [58]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [72]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()
school_spending_df["Per Student Budget"] = per_school_budget / per_school_counts

In [70]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels)

In [69]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [71]:
# Assemble into DataFrame
spending_summary = pd.DataFrame(columns = ["Average Math Score","Average Reading Score",
"% Passing Math","12th"])
# Fill the col with the series that hold the calculations by the names above:
spending_summary["Average Math Score"] = spending_math_scores
spending_summary["Average Reading Score"] = spending_reading_scores
spending_summary["% Passing Math"] = spending_passing_math
spending_summary["% Passing Reading"] = spending_passing_reading
spending_summary["% Overall Passing"] = overall_passing_spending

# Drop index name:
spending_summary.index.name = None

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,12th,% Passing Reading,% Overall Passing
<$585,83.455399,83.933814,93.460096,NaN,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,NaN,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,NaN,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,NaN,81.133951,53.526855

## **Scores by School Size**

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary["School Size"] =

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)