# **Module 4- Pandas Challenge**
### By: Zack Crowley

## **PyCity Schools Analysis**

- Started Sun 10/16/22

**Be sure to right up results here before turning in!!!**
- Also write up README.md

---

In [1]:
# Import dependencies and load in data:
import pandas as pd

# File path to load:
school_data_path = "Resources/schools_complete.csv"
student_data_path = "Resources/students_complete.csv"

# Read in the school and student data files and store in Pandas DataFrames:
school_df = pd.read_csv(school_data_path)
student_df = pd.read_csv(student_data_path)

# Look at data:
# school_df.head()
# student_df.head()

# Merge the data into a single dataset:
stu_school_merge_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
stu_school_merge_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

### **District Summary**

In [2]:
# Calculate the total number of unique schools
school_count = school_df["school_name"].count()
print(f'Total schools for district: {school_count}')

Total schools for district: 15

In [3]:
# Calculate the total number of students
# student_count = len(school_merge_df["student_name"].unique())
student_count = len(stu_school_merge_df["Student ID"].unique())
print(f'Total students for district: {student_count}')

Total students for district: 39170

In [4]:
# Calculate the total budget
total_budget = school_df["budget"].sum()
print(f'Total budget for district: ${total_budget}')

Total budget for district: $24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = stu_school_merge_df["math_score"].mean()
print(f'Average math score for district: {average_math_score}%')

Average math score for district: 78.98537145774827%

In [6]:
# Calculate the average (mean) reading score
average_reading_score = stu_school_merge_df["reading_score"].mean()
print(f'Average reading score for district: {average_reading_score}%')

Average reading score for district: 81.87784018381414%

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = stu_school_merge_df[(stu_school_merge_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(f'% passing math for district: {passing_math_percentage}%')

% passing math for district: 74.9808526933878%

In [8]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = stu_school_merge_df[(stu_school_merge_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(f'% passing math for district: {passing_reading_percentage}%')

% passing math for district: 85.80546336482001%

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = stu_school_merge_df[
    (stu_school_merge_df["math_score"] >= 70) & (stu_school_merge_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print(f'% overall passing (both math and reading) for district: {overall_passing_rate}%')

% overall passing (both math and reading) for district: 65.17232575950983%

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count],
                              "Total Students": [student_count],
                              "Total Budget": [total_budget],
                              "Average Math Score": [average_math_score],
                              "Average Reading Score": [average_reading_score],
                              "% Passing Math": [passing_math_percentage],
                              "% Passing Reading": [passing_reading_percentage],
                              "% Overall Passing": [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

### **School Summary**

In [15]:
# Use the code provided to select the school type
school_types = school_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [14]:
# Calculate the total student count
per_school_counts = stu_school_merge_df.groupby(["school_name"]).count()["Student ID"]
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [16]:
# Calculate the total school budget and per capita spending
per_school_budget = stu_school_merge_df.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [17]:
# Calculate the average test scores
per_school_math = stu_school_merge_df.groupby(["school_name"]).mean()["math_score"]
print(per_school_math)
per_school_reading = stu_school_merge_df.groupby(["school_name"]).mean()["math_score"]
print(per_school_reading)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [19]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = 
school_passing_math

15

In [20]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = 
school_passing_reading

15

In [21]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = stu_school_merge_df[
    (stu_school_merge_df["reading_score"] >= 70) & (stu_school_merge_df["math_score"] >= 70)]
passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130