# **Module 4- Pandas Challenge**
### By: Zack Crowley

## **PyCity Schools Analysis**

- Started Sun 10/16/22

**Be sure to right up results here before turning in!!!**
- Also write up README.md

---

In [1]:
# Import dependencies and load in data:
import pandas as pd
import numpy as np
# File path to load:
school_data_path = "Resources/schools_complete.csv"
student_data_path = "Resources/students_complete.csv"

# Read in the school and student data files and store in Pandas DataFrames:
school_df = pd.read_csv(school_data_path)
student_df = pd.read_csv(student_data_path)

# Look at data:
# school_df.head()
# student_df.head()

# Merge the data into a single dataset:
stu_school_merge_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
stu_school_merge_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

### **District Summary**

In [2]:
# Calculate the total number of unique schools
school_count = school_df["school_name"].count()
print(f'Total schools for district: {school_count}')

Total schools for district: 15

In [3]:
# Calculate the total number of students
# student_count = len(school_merge_df["student_name"].unique())
student_count = len(stu_school_merge_df["Student ID"].unique())
print(f'Total students for district: {student_count}')

Total students for district: 39170

In [4]:
# Calculate the total budget
total_budget = school_df["budget"].sum()
print(f'Total budget for district: ${total_budget}')

Total budget for district: $24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = stu_school_merge_df["math_score"].mean()
print(f'Average math score for district: {average_math_score}%')

Average math score for district: 78.98537145774827%

In [6]:
# Calculate the average (mean) reading score
average_reading_score = stu_school_merge_df["reading_score"].mean()
print(f'Average reading score for district: {average_reading_score}%')

Average reading score for district: 81.87784018381414%

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = stu_school_merge_df[(stu_school_merge_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(f'% passing math for district: {passing_math_percentage}%')

% passing math for district: 74.9808526933878%

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = stu_school_merge_df[(stu_school_merge_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(f'% passing math for district: {passing_reading_percentage}%')

% passing math for district: 85.80546336482001%

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = stu_school_merge_df[
    (stu_school_merge_df["math_score"] >= 70) & (stu_school_merge_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print(f'% overall passing (both math and reading) for district: {overall_passing_rate}%')

% overall passing (both math and reading) for district: 65.17232575950983%

In [39]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count],
                              "Total Students": [student_count],
                              "Total Budget": [total_budget],
                              "Average Math Score": [average_math_score],
                              "Average Reading Score": [average_reading_score],
                              "% Passing Math": [passing_math_percentage],
                              "% Passing Reading": [passing_reading_percentage],
                              "% Overall Passing": [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,school_name Bailey High School 54.642283...

### **School Summary**

In [30]:
# Use the code provided to select the school type
school_types = school_df.set_index(["school_name"])["type"]

dtype('O')

In [37]:
# Calculate the total student count
per_school_counts = stu_school_merge_df.groupby(["school_name"]).count()["Student ID"]

In [38]:
# Calculate the total school budget and per capita spending
per_school_budget = stu_school_merge_df.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [14]:
# Calculate the average test scores
per_school_math = stu_school_merge_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = stu_school_merge_df.groupby(["school_name"]).mean()["reading_score"]

In [15]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = stu_school_merge_df[(stu_school_merge_df["math_score"] >= 70)]

In [16]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = stu_school_merge_df[(stu_school_merge_df["reading_score"] >= 70)]

In [17]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = stu_school_merge_df[
    (stu_school_merge_df["reading_score"] >= 70) & (stu_school_merge_df["math_score"] >= 70)]

In [18]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [46]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
# Create the df with the col names:
per_school_summary = pd.DataFrame(columns = ["School Type","Total Students","Total School Budget",
                              "Per Student Budget", "Average Math Score", "Average Reading Score",
                              "% Passing Math","% Passing Reading", "% Overall Passing"])
# Fill the col with the series that hold the calculations by the names above:
per_school_summary['School Type'] = school_types
per_school_summary['Total Students'] = per_school_counts
per_school_summary['Total School Budget'] = per_school_budget
per_school_summary['Per Student Budget'] = per_school_capita
per_school_summary['Average Math Score'] = per_school_math
per_school_summary['Average Reading Score'] = per_school_reading
per_school_summary['% Passing Math'] = per_school_passing_math
per_school_summary['% Passing Reading'] = per_school_passing_reading
per_school_summary['% Overall Passing'] = overall_passing_rate

# Sort by index and drop index name:
per_school_summary = per_school_summary.sort_index(ascending=True)
per_school_summary.index.name = None

# per_school_summary = pd.DataFrame({"School Type": [school_types],
#                               "Total Students": [per_school_counts],
#                               "Total School Budget": [per_school_budget],
#                               "Per Student Budget": [per_school_capita],
#                               "Average Math Score": [per_school_math], 
#                               "Average Reading Score": [per_school_reading],
#                               "% Passing Math": [per_school_passing_math],
#                               "% Passing Reading": [per_school_passing_reading],
#                               "% Overall Passing": [overall_passing_rate]}) 
# # Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# # Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [48]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
highest_overall_passing = per_school_summary.sort_values(by=['% Overall Passing'], ascending=False).head(5)
highest_overall_passing

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [49]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
lowest_overall_passing = per_school_summary.sort_values(by=['% Overall Passing']).head(5)
lowest_overall_passing

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172